.login-container {
    height: calc(100vh - 140px);
    padding: 30px 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

}

@media (max-width: 576px) {
    .login-container {
        min-height: calc(100vh - 120px);
    }
}

.login > h1 {
    color: #181f23;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.login {
    width: 100%;
    max-width: 594px;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.login > input {
    width: 100%;
    max-width: 494px;
    height: 42px;

    padding: 9px 13px;
    border: 1px solid #D1D5DB;

    font-size: 16px;
    color: #161616;
}

.login > input[type="email"] {
    border-radius: 6px 6px 0 0;
}

.login > input[type="password"] {
    border-radius: 0 0 6px 6px;
}

.login > input::placeholder{
    font-family: 'Inter' sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #4D4D4D;
} 

.login > button {
    width: 100%;
    max-width: 494px;
    height: 55px;

    margin: 20px auto 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #181f23;
    color: #FFFFFF;

    font-size: 16px;
    font-weight: 500;

    border: none;
    border-radius: 6px;

    cursor: pointer;
    transition: .4s;
}

.login > button:hover {
    background: #111;
}

.login > button:disabled {
    opacity: .5;
    cursor: initial;
}

/* Social media login section */

.login-container > button {
    width: 100%;
    max-width: 494px;
    height: 55px;

    margin: 2px auto 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    background: #fafafa;
    color: #181f23;

    font-size: 16px;
    font-weight: 500;

    border: 1px solid #aaa;
    border-radius: 6px;

    cursor: pointer;
    transition: .4s;
}

.login-container > button:hover {
    background: #dfdfdf;
}

.login-container > button > img {
    width: 40px;
}

/* Separator OR */
.login-container > span {
    display: block;
    text-align: center;
    width: fit-content;
    margin: 20px auto;
    position: relative;
}

.login-container > span::before,
.login-container > span::after {
    position: absolute;
    content: '';
    width: 150px;
    height: 1.5px;
    background: #181f23;
    top: 50%;
    transform: translateY(-50%);
}

.login-container > span::before {
    left: -180px;
}

.login-container > span::after {
    right: -180px;
}

/* Signup link */
.login-container > p {
    margin: 20px auto 0;
}
.login-container > p > a {
    color: #181f23;
    font-weight: 700;
    margin-left: 5px;
    transition: .4s;
}

.login-container > p > a:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}

/* Error message */
.error-message {
    color: red;
    margin: 10px auto;
    text-align: center;
}