.edit-container {
    height: calc(100dvh - 140px);
    padding: 50px 20px;
}

@media(max-width: 576px) {
    .edit-container {
        height: 100%;
    }
}

.wrapper {
    max-width: 640px;
    margin: 0 auto;

    border: 2px solid #181f23;
    border-radius: 6px;
    overflow: hidden;

    box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.edit {
    display: flex;
    align-items: center;
    gap: 30px;

    padding: 50px 20px;
}

@media(max-width: 576px) {
    .edit {
        flex-direction: column;
        gap: 50px;
    }
}

.edit > img {
    width: 160px;
    object-fit: cover;
    border-radius: 50%;
}

.edit > .profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.edit > .profile-info  label {
    font-size: 16px;

    display: block;
    margin-bottom: 6px;
}

.edit > .profile-info  h2 {
    font-weight: 600;
    font-size: 22px;
}

.edit > .profile-info > .personal-info {
    display: flex;
    gap: 20px;
}

@media(max-width: 576px) {
    .edit > .profile-info > .personal-info {
        flex-direction: column;
        gap: 0px;
    }
}

.edit > .profile-info > .personal-info.names {
    gap: 60px;
}

@media(max-width: 576px) {
    .edit > .profile-info > .personal-info,
    .edit > .profile-info > .personal-info.names {
        flex-direction: column;
        gap: 30px;
    }
}

.edit-profile {
    background: #d8fbe265;
    height: 70px;

    padding-left: 20px;
    padding-right: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.edit input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.edit input:focus {
    outline: none;
    border-color: #181f23;
}

.edit-profile > .edit-profile-btn {
    width: 100%;
    max-width: 594px;
    height: 40px;

    font-size: 16px;

    border: none;
    border-radius: 5px;

    background: #181f23;
    color: #fafafa;
    font-family: 'Inter', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: .4s;
}

.edit-profile > .edit-profile-btn:hover {
    background: #111;
}

.edit-profile > .edit-profile-btn:disabled {
    opacity: .5;
    cursor: initial;
}

.edit-container .error-message {
    color: #de2436;
    font-size: 16px;
    margin: 0 auto 25px;
    text-align: center;
}