.home {
    height: calc(100vh - 140px);
    position: relative;
    background-image: url('../../assets//home-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    color: #fafafa;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 25px;

    padding-right: 15px;
    padding-left: 15px;
}

@media(max-width:576px) {
    .home {
        background-position: center;
    }
}

.home > h1, 
.home > p,
.home > .home-button {
    max-width: 498px;
    width: 100%;
}

.home > h1 {
    font-size: 36px;
    font-weight: 800;
}

.home > .home-button {
    height: 50px;
    margin-top: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 5px;

    background: #181f23;
    color: #fafafa;

    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;

    cursor: pointer;
    transition: .4s;
}

.home > .home-button:hover {
    background: #111;
}